---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-gray-800 text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SEQUELIZE: {
    name: "Sequelize",
    class: "bg-gray-800 text-white",
    icon: NextJS,
  },
  POSTGRESQL:{
    name: "PostgreSQL",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-gray-800 text-white",
    icon: NextJS,
  },
  SASS: {
    name: "Sass",
    class: "bg-[#003159] text-white",
    icon: NextJS,
  },
  REACT: {
    name: "React.js",
    class: "bg-gray-800 text-white",
    icon: NextJS,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-gray-800 text-white",
    icon: NextJS,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#003159]  text-white",
    icon: NextJS,
  }
}
const PROJECTS = [
  {
    title: "Portfolio Community Manager - Creadora de contenido",
    description:
      "Responsable de la creacion de componentes y utilidades para la creación y desarrollo de la página web. Integración de redes sociales y contenido audiovisual con formato de celular para dar una idea de cómo se verían en dispositivos móviles. ",
    link: "https://gabriela-zarate.vercel.app/",
    image: "projects/shot_zarate_porfolio_v2.png",
    tags: [TAGS.REACT,TAGS.TAILWIND,TAGS.JAVASCRIPT],
    github:'https://github.com/daviddcordoba/zarate-portfolio'
  },
  {
    title: "PigCommander - Aplicacion de finanzas personales",
    description:
      " Aplicación que permite a los usuarios registrar sus gastos e ingresos financieros. Los temas cubiertos incluyen fundamentos de API REST, Redux Toolkit, Pagos con MercadoPago API, autentificacion con Passport y JWT.",
    link: "https://www.linkedin.com/posts/daviddcordoba_pig-commander-the-best-finance-app-pf-activity-7102397255390797824-jjyA?utm_source=share&utm_medium=member_desktop",
    image: "projects/shotPig.png",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.SEQUELIZE, TAGS.POSTGRESQL, TAGS.EXPRESS],
  },
  

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => {
      
      return (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img class="object-cover w-full h-60 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"  src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-col flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                    Code
                  
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                    Preview
                </LinkButton>
              )}
            </footer>
        </div>
      </div>
</article>
    )})
  }
</div>



